:root {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

form {
    text-align: center;
}

#search {
    appearance: none;
    border-radius: 25px;
    height: 30px;
    width: 400px;
    margin-bottom: 20px;
    transition: box-shadow .3s;
}

#search:hover {
    box-shadow: 0 0 11px
    rgba(27, 26, 26, 0.651);

}

#button-container {
    text-align: center;
}

button {
   display:inline-block;
   text-align: center;
   padding: 5px 15px 5px 15px;
}

button:hover {
    color: rgb(0, 0, 0);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

header {
    display: grid;
    grid-template-columns: 70px 50px auto 50px 70px;
}

#Gmail {
    grid-column-start: 4;
    grid-column-end: 5;
}

#About {
    padding: 0px 5px 0px 5px;
}

#images {
    padding: 0px 5px 0px 5px;
}
